<ion-header>
  <ion-toolbar>
    <ion-title>torneo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th  class="ion-text-center" colspan="4">Octavos de Final</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@rewrewre</td>
          <td>0</td>
        </tr>
        <tr>
          <td>@rewrewre</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th  class="ion-text-center" colspan="4">Octavos de Final</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@rewrewre</td>
          <td>0</td>
        </tr>
        <tr>
          <td>@rewrewre</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th  class="ion-text-center" colspan="4">Octavos de Final</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@rewrewre</td>
          <td>0</td>
        </tr>
        <tr>
          <td>@rewrewre</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th  class="ion-text-center" colspan="4">Octavos de Final</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@rewrewre</td>
          <td>0</td>
        </tr>
        <tr>
          <td>@rewrewre</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </ion-card>


  

</ion-content>
